.header{
    height: 200px;
    width: 100%;
    background-color : #E9EEF6;
    padding-top: 50px;
  }


  .task-container{
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F7F8;
    padding : 40px 100px;
  }