.header{
    height: 200px;
    width: 100%;
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.task-container{
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #F6F7F8;
    padding : 40px 100px;
  }